#**ASSIGNMENT 3**

1. Write a Python function to ﬁnd the Max of three numbers

In [2]:
def max_of_three( x, y ,z):
    if (x > y) and (x > z):
        return  x
    elif (y > x) and (y > z):
        return  y
    else:
        return  z

In [ ]:
x=int(input("enter the first number: "))
y=int(input("enter the second number: "))
z=int(input("enter the third number: "))
print('max_of_three is',max_of_three(x,y,z))

enter the first number: 4
enter the second number: 6
enter the third number: 9
max_of_three is 9

2. Write a Python function to sum all the numbers in a list.  Sample List : [18, 12, 30,10, 7] Expected Output : 77

In [ ]:
def sum_list(items):
    s = 0
    for x in items:
        s+=x
    return s

In [ ]:
list=[18,12,30,10,7]
print('Sum is ',sum_list(list))

Sum is  77

3. Python program to insert a number to any position in a list (Get the number to be inserted and position from the user)

In [ ]:
my_list =[1,2,4,5]
num=int(input("enter the number to be inserted: "))
pos=int(input("enter the position: "))
my_list.insert(pos,num)
print("updated list:",my_list)

enter the number to be inserted: 3
enter the position: 0
updated list: [3, 1, 2, 4, 5]

4. Write a program to rename a key city to a location in the following dictionary. sample_dict = { "name": "Kelly",  "age":25,  "salary": 8000, "city": "New york"}

In [ ]:
sample_dict={"name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
sample_dict['location']=sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

5. Write a Python program to change Brad’s salary to 8500 in the following dictionary. sample_dict = {     'emp1': {'name': 'Jhon', 'salary': 7500},     'emp2': {'name': 'Emma', 'salary': 8000},     'emp3': {'name': 'Brad', 'salary': 500} }

In [ ]:
sample_dict = { 'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500} }
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

6. Write a program to copy elements 44 and 55 from the following tuple into a new tuple. Given: tuple1 = (11, 22, 33, 44, 55, 66)

In [ ]:
tuple=(11,22,33,44,55,66)
new_tuple=tuple[3:5]
print(new_tuple)

(44, 55)

7. Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10, 60, 70, 50,83,567,50,81

In [1]:
tuple=(50,10,60,70,50,83,567,50,81)
count_of_50=tuple.count(50)
print(count_of_50)

3